.playground-Container{
    display: flex;
    flex-direction: column;
}
.editor-container{
    height: 50vh;
}
.editor-container{
    display: flex;

}

/* For Dirs*/
.Dirs{
    background-color: grey;
    padding: 5px;
}
.file{
    cursor: pointer;
}